<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{% extends 'layout.html'  %}
<body>
    {% block content %}

   
    <div class="container" align="left">
        <embed type="image/svg+xml" src={{chart|safe}} style='max-width:1000px'/>
  </div>

    <div class="container" align="left">
        <embed type="image/svg+xml" src={{bar_chart|safe}} style='max-width:1000px'/>
  </div>
    
    <div class="container" align="left">
        <embed type="image/svg+xml" src={{bar_chart1|safe}} style='max-width:1000px'/>
  </div>
    

  {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 
</body>

</html>